/* 
## Layout

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-very-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: var(--dark-cyan);
  background-image: url("../img/bg-pattern-top.svg"), url('../img/bg-pattern-bottom.svg');
  background-position: top -450px left -450px, bottom -450px right -450px; 
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 350px;   
  height: 375px;
  background-color: #fff;
  background-image: url(../img/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 20px;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  margin: 85px 0;
}

.profile-photo {
  background-image: url(../img/image-victor.jpg);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border: 5px solid white;
  margin-bottom: 0.8em;
}


.profile-text p:last-child{
  font-size: 14px;
  margin-bottom: 1em;
}

.profile-text span {
  font-size: 18px;
  color: var(--dark-very-blue);
  font-weight: 700;
}


.stats {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  font-size: 16px;
  border-top: 1px solid var(--dark-gray);
  padding: 20px 0;
}

.box {
  color: var(--dark-very-blue);
}

.box p {
  font-size: 10px;
}

.attribution { 
  position: absolute;
  bottom: 5px;
  font-size: 11px; 
  text-align: center;
}
.attribution a { 
  color: var(--dark-very-blue); 
}

.light-text {
  color: var(--dark-gray);
  font-weight: 400;
}

/* MediaQuery Mobile */

@media (max-width: 375px) {
  body {
    background-position: top -550px left -750px, bottom -550px right -750px; 
  }
}

